@font-face {
    font-family: Nunito;
    src: url("../bootstrap/fonts/nunito.ttf");
}
body {
    font-family: Nunito,sans-serif !important;
    font-size: 14px;
    background-image: url("../images/1.jpg");
    color: #e1e1e1;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
}
.body-auth{
    width: 100%;
    height: 100%;
    background-color: rgb(61, 60, 60);
    font-family: Nunito,sans-serif
}
.auth-form{
    background-color: transparent;
    margin-top: 12%;
    margin-left: 28%;
    width: 44%;
    height: 450px;
    padding: 0px;
    color: #e1e1e1;
    border: none;
}
.password-recovery-form{
    background-color: transparent;
    margin-top: 12%;
    margin-left: 28%;
    width: 44%;
    height: 250px;
    padding: 0px;
    color: #e1e1e1;
    border: none;
}
.card-header{
    min-height: 80px;
    text-align: center;
    line-height: 60px;
    color: #e1e1e1;
    font-size: 25px;
    border: none;
    background-color: rgba(0, 0, 0, .2);
}
.card-body {
    color: #444;
}
.card-body label {
    color: #e1e1e1;
    font-size: 18px;
    font-weight: normal;
}
.card-body input {
    font-size: 16px;
    color: #444 !important;
}
.btn-login{
    margin-top: 30px;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 4px;
    color: #e1e1e1;
    background-color: #ef6262;
    border-color: #ef6262;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
}
.card-footer {
    background-color: transparent;
    border: none;
}
.link-content > div > a {
    text-decoration: underline;
    font-size: 14px;
    color: #e1e1e1;
}

.container-fluid{
    width: 100% !important;
    height: 100% !important;
}
.left-menu {
    padding: 0px;
    overflow: auto;
    background-color: rgba(0, 0, 0, .2);
    flex: 0 0 18.666667%;
    max-width: 18.666667%;
}
.page-content {
    flex: 0 0 81.333333%;
    max-width: 81.333333%;
}
.page-header {
    height: 100px;
    background-color: rgba(0, 0, 0, .3);
    padding: 20px 0px;
}
.page-header .page-title {
    margin-bottom: 5px;
    margin-top: 6px;
    font-family: Nunito,sans-serif;
    font-weight: 300;
    letter-spacing: -1px;
    font-size: 28px;
    line-height: 36px;
    color: #e1e1e1;
}
.logo-section{
    background-color: transparent;
    text-align: center;
    font-size: 41px;
    color: #e1e1e1;
    font-family: URW Chancery L;
}
.left-menu .list-group {
    margin: 0px 15px;
}
.left-menu .list-group-item {
    border-radius: 0px;
    min-height: 25px;
    line-height: 25px;
    color: #e1e1e1;
    background-color: transparent;
    border: none;
    padding: 10px 10px;
}
.left-menu .list-group-item i {
    font-size: 16px;
}
.left-menu .list-group-item:hover {
    background-color: rgba(255, 255, 255, .06);
    color: #fff;
    border-radius: 2px;
}
.main-content {
    height: 88vh;
    background-color: transparent;
    padding: 15px 15px 0px 15px;
}
.breadcrumb {
    padding: 0px;
    border: none;
    background-color: transparent;
}
.breadcrumb .breadcrumb-item {
    font-size: 13px;
    color: #e1e1e1;
}
.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    color: #e1e1e1;
}
.breadcrumb .breadcrumb-item::before {
    color: #e1e1e1;
}
.icon-menu-container {
    margin-left: -8px;
}
.icon-menu-container .box{
    float: left;
    width: 23.8% !important;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .2);
    color: #e1e1e1;
    margin: 0.6%;
    text-decoration: none;

}
.icon-menu-container .box i {
    font-size: 60px;
    line-height: 80px;
}
.icon-menu-container .box p {
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    color: #e1e1e1;
}
.welcome {
    font-size: 22px;
    color: #e1e1e1;
}
.table-container > div {
    padding-top: 40px !important;
}
table {
    background-color: rgba(0, 0, 0, .2);
    color: #e1e1e1 !important;
}
table > tbody > tr > td {
    vertical-align: middle !important;
}
table > .thead-dark > tr > th {
    background-color:rgba(0, 0, 0, .2) !important;
    border-color: rgba(0, 0, 0, .2) !important;
}
table > .thead-dark > tr > th > .search-input {
    display: inline;
    width: 25%;
    height: 25px;
    margin-left: 20px;
    font-size: 12px;
    margin-top: -2px;
}
table > tbody > tr > .action-column {
    width: 20%;
}
table .id-th {
    vertical-align: middle !important;
}
table th, table td {
    border-top: 1px solid rgba(0,0,0,.13) !important;
    vertical-align: unset !important;
}
.icon-button {
    text-align: center;
    height: 40px;
    width: 50px;
    padding: 0px;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
}
.icon-button:hover {
    background-color: rgba(255, 255, 255, .06);
}
.icon-button > i {
    font-size: 22px;
    color: #e1e1e1;
    font-weight: 500;
    line-height: 38px;
}
table > .thead-dark > tr > .table-title {
    background-color: #ef6262 !important;
    border-color: #ef6262 !important;
    text-align: center;
}
.modal-content {
    background: rgba(0, 0, 0, 0.6);
}
.modal-header {
    border-bottom: 1px solid #333;
}
.modal-header .close {
    color: #fff;
}
.img-avatar {
    width: 150px;
    height: 150px;
    z-index: 9;
    margin-left: 60px;
    margin-top: -80px;
}
.username-content {
    margin-left: 10px;
    margin-top: 5px;
    font-size: 20px;
    font-family: Nunito,sans-serif;
    color: #e1e1e1;
}
.description-content {
    margin-top: 35px;
    margin-left: -90px;
    font-family: Nunito,sans-serif;
    color: #e1e1e1;
}
.details-content {
    padding: 10px;
    margin-top: 20px;
}
.details-content .header {
    font-size: 22px;
    padding: 10px 5px 20px 0px;
}
.button-red {
    background-color: #ef6262;
    color: #e1e1e1;
}
.item-menu-title {
    display: inline-block;
    margin: -1px 0px 0px 3px;
    vertical-align: top;
}
.avatar-container {
    background-color: rgba(255, 255, 255, .06);
    margin: 20px 0px 10px;
    height: 70px;
}
.avatar-container .avatar {
    margin-top: 10px;
}
.avatar-container .description {
    padding: 15px 0px 0px 0px;
    font-size: 13px;
}
.avatar-container .description .mail {
    color: rgba(255, 255, 255, .5);
}
#user-modal .modal-dialog, #patient-modal .modal-dialog {
    max-width: 550px;
    margin-top: 120px;
}
.form-confirm-button {
    background-color: rgba(255, 255, 255, .2);
    color: #e1e1e1;
}
.form-confirm-button:hover {
    background-color: #dc3545;
    color: #fff;
}
.doctor-field-container {
    display: none;
}
#search-modal, #add-drug-modal {
    margin-top: 120px;
}
.prescription-for-written-content .badge, .written-prescriptions-content .badge {
    font-size: 12px;
    padding: 5px 8px;
}
#add-prescription-modal .modal-dialog, #edit-prescription-modal .modal-dialog {
    max-width: 750px;
}
.drugs-select .list-group, #selected-drugs {
    height: 150px;
    max-height: 150px;
    background-color: #fff;
    overflow-y: scroll;
    border-radius: .25em;
}
.drugs-select .list-group .list-group-item {
    height: 40px;
    line-height: 15px;
    border: none;
    border-bottom: 1.5px solid #f3f3f3;
    color: #333;
}
.drugs-select .list-group input {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: Nunito,sans-serif !important;
    border: 1px solid #f3f3f3;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    padding-left: 18px;
    line-height: 40px;
    color: #333;
}
.drugs-select .list-group input:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.badge-drugs {
    padding: 5px 8px;
    font-size: 13px;
    margin: 5px;
    border: 1px solid #ddd;
    color: #333;
}
.no-results {
    text-align: center;
    padding-right: 100px;
}
.mark-as-taken {
    cursor: pointer;
}



